.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background-color: rgb(15, 71, 122);
  }

  span{
    color: aliceblue;
  }

  mat-icon{
    color: aliceblue;
  }
  
  .iconomenu{
    color: rgb(15, 71, 122);
  }

  .botonmenu{
    background-color: rgb(255, 217, 0);
  }

  .menumenu{
    background-color: rgb(15, 71, 122);
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }