
  

<mat-toolbar>
    <section>
        <button mat-mini-fab aria-label="Example icon button with a menu icon" [matMenuTriggerFor]="secciones" class="botonmenu">
            <mat-icon class="iconomenu">menu</mat-icon>
        </button>
      </section>
    <mat-menu #secciones="matMenu" class="menumenu">
        <button mat-menu-item routerLink="/inicio-sesion">inicio Sesion</button>
        <button mat-menu-item routerLink="/registro">registro</button>
        
        
    </mat-menu>

    <div class="example-button-container">
        <span id="textoinicio">PowerPixel</span>
    </div>

    <span class="example-spacer"></span>



    <button mat-icon-button class="example-icon login-icon" routerLink="/inicio" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button class="example-icon"  routerLink="/admin" aria-label="Example icon-button with share icon">
      <mat-icon>list_alt</mat-icon>
    </button>

    <label for="toggle" id="label_toggle"> <i class="fa-regular fa-moon"></i></label>
    <input type="checkbox" id="toggle" (click)="cambiarFondo()">

</mat-toolbar>