<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imagen</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Categoria</th>
      <th scope="col">stock</th>
      <th scope="col">Acciones</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productos of coleccionProductos">
      <th scope="row">1</th>
      <td>
        <img src="{{productos.imagen}}" width="100px" alt="{{productos.alt}}">
      </td>
      <td>{{productos.nombre}}</td>
      <td>{{productos.precio}}</td>
      <td>{{productos.descripcion}}</td>
      <td>{{productos.categoria}}</td>
      <td>{{productos.stock}}</td>

      <!--Acciones -->
      <!--Editar -->
      <td>
        <button id="btn-edit" title="editar" type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
          data-bs-target="#editarProducto" (click)="mostrarEditar(productos)">
          <mat-icon>edit</mat-icon>
        </button>
        <!--Borrar -->
        <button id="btn-delete" title="borrar" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
          data-bs-target="#eliminarProducto" (click)="mostrarBorrar(productos)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>

    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarproducto">
  Agregar producto
</button>

<!-- Modal -->
<div class="modal fade" id="agregarproducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div [formGroup]="Productos" class="modal-body">

        <div class="mb-3">
          <label class="form-label">ingrese el nombre del producto</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="Ej.:Nvidia RX 3060">
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese la marca del producto</label>
          <input class="form-control" type="text" formControlName="marca" placeholder="Ej.:Nvidia">
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese la descripcion del producto</label>
          <input class="form-control" type="text" formControlName="descripcion"
            placeholder="Ej.: una de las mejores tarjetas graficas del mercado ">
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese el precio del producto</label>
          <input class="form-control" type="number" formControlName="precio" placeholder="670.000$">
        </div>

        <div class="mb-3">
          <label class="form-label">seleccione una categoria</label>
          <select class="form-control form-select" formControlName="categoria">
            <option selected>elija una opcion</option>
            <option value="memoria ram">Memoria RAM</option>
            <option value="procesador">Procesador</option>
            <option value="tarjeta grafica">Tarjeta grafica</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese una imagen</label>
          <input type="file" accept="imagen/*" (change)="cargarImagen($event)">
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese un texto alternativo</label>
          <input class="form-control" formControlName="alt" type="text" placeholder="ingrese un texto alternativo">
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese stock de su producto</label>
          <input class="form-control" type="number" formControlName="stock" placeholder="ingrese stock">
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarProducto()">Guardar
          cambios</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="editarProducto" *ngFor="let productosEdit of coleccionProductos" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div [formGroup]="Productos" class="modal-body">

        <div class="mb-3">
          <label class="form-label">ingrese el nombre del producto</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="{{productosEdit.nombre}}">

        </div>

        <div class="mb-3">
          <label class="form-label">ingrese la marca del producto</label>
          <input class="form-control" type="text" formControlName="marca" placeholder="{{productosEdit.marca}}">
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese la descripcion del producto</label>
          <input class="form-control" type="text" formControlName="descripcion"
            placeholder="{{productosEdit.descripcion}}">
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese el precio del producto</label>
          <input class="form-control" type="number" formControlName="precio" placeholder="{{productosEdit.precio}}">
        </div>

        <div class="mb-3">
          <label class="form-label">seleccione una categoria</label>
          <select class="form-control form-select" formControlName="categoria">
            <option selected>elija una opcion</option>
            <option value="memoria ram">Memoria RAM</option>
            <option value="procesador">Procesador</option>
            <option value="tarjeta grafica">Tarjeta grafica</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese una imagen</label>
          <input type="file" accept="imagen/*" (change)="cargarImagen($event)">
        </div>

        <div class="mb-3">
          <label class="form-label">ingrese un texto alternativo</label>
          <input class="form-control" formControlName="alt" type="text" placeholder="{{productosEdit.alt}}">
        </div>

        <div class="mb-3">
        <label class="form-label">ingrese stock de su producto</label>
        <input class="form-control" type="number" formControlName="stock" placeholder="{{productosEdit.stock}}">
      </div>

      </div>

      
      

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="editarProducto()">Guardar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade"  id="eliminarProducto" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="modalVisibleProducto">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿vas a borrar algo pibe?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{productoSeleccionado.nombre}}
        <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
          (click)="borrarProducto()">Eliminar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">cancelar</button>
      </div>
    </div>
  </div>
</div>