<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="row">
      <div class="col">
        <div class="carousel-item active">
          <img
            src="https://sm.ign.com/ign_nordic/feature/b/best-graph/best-graphics-cards-2020-top-gpus-for-every-budget_csvw.jpg"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://wallpapers.com/images/featured/4k-graphics-cards-kmfidll2t8r79i5e.jpg" class="d-block w-100"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://dlcdnrog.asus.com/rog/media/153545439033.webp" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row">
  <div class="col-4">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header class="cardcontent">

        <mat-card-title>Nvidia</mat-card-title>
        <mat-card-subtitle class="subtitulo">Empresa de desarrollo de Hardware</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://media.ambito.com/p/b55356686b84e2542b02dad16828b758/adjuntos/239/imagenes/041/337/0041337122/375x211/smart/nvidia-1jpg.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content class="cardcontent">
        <p>
          Nvidia es una empresa de software y hardware que diseña y fabrica unidades de
          procesamiento de gráficos (GPU) y otras tecnologías para la computación de inteligencia artificial (IA)
        </p>
      </mat-card-content>

    </mat-card>
  </div>


  <div class="col-4">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header class="cardcontent">

        <mat-card-title>AMD</mat-card-title>
        <mat-card-subtitle class="subtitulo">Empresa de desarrollo de Hardware</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://wallpapers.com/images/featured/amd-wpyulqyqm4zt567i.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-content class="cardcontent">
        <p>
          AMD (Advanced Micro Devices) es una empresa estadounidense que desarrolla productos tecnológicos
          y procesadores de computación. AMD es una de las principales fabricantes de procesadores y tarjetas graficas
          para computadoras.
        </p>
      </mat-card-content>

    </mat-card>
  </div>
</div>
<div class="row tarjetas">
  <div class="col-tarjeta">

    <div class="card">
      <div class="card-inner">
        <div class="card-front">
          <p>¿Quienes somos?</p>
        </div>
        <div class="card-back">
          <p>Somos una empresa que tiene como objetivo prover Hardware todo el pais</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-tarjeta">
    <div class="card">
      <div class="card-inner">
        <div class="card-front2">
          <p>¿Que hacemos?</p>
        </div>
        <div class="card-back2">
          <p>Nuestra empresa distribuye Hardware de la mejor calidad y precio</p>
        </div>
      </div>
    </div>
  </div>



</div>